**PANDAS**

Pandas is a software library written for the Python programming language for **data manipulation and analysis**. In particular, it offers data structures and operations for manipulating numerical tables and time series.

In [1]:
import pandas as pd

The data structures that store data in pandas are the **Data Frames**.

In [4]:
df1 = pd.DataFrame([[2, 4, 6],  [10, 20, 30]])
df1

    0   1   2
0   2   4   6
1  10  20  30

The 0, 1, 2 at top are the **column names** (you can name the columns yourself) and the 0 and 1 in the right are the indices (which also can be renamed)

In [20]:
df1 = pd.DataFrame([[2, 4, 6],  [10, 20, 30]], columns = ["Column1", "Columns2", "Column3"], index= ["Row1", "Row2"])
df1

      Column1  Columns2  Column3
Row1        2         4        6
Row2       10        20       30

See..... the names

Though the customized indices don't make much sense ... but hey! you can do it, if you want to (dunno why).

Another way of creating Data Frames is to use dictonaries instead of lists

In [13]:
df2 = pd.DataFrame([{"Last Name" : "Bond", "Name" : "James"}, {"Last Name" : "Stark", "Name" : "Tony"}, {"Last Name" : "Anderson", "Name" : "Thomas"},{"Last Name" : "Holmes", "Name" : "Sherlock"},{"Name" : "Neo"}])
print(type(df2))
df2

<class 'pandas.core.frame.DataFrame'>

  Last Name      Name
0      Bond     James
1     Stark      Tony
2  Anderson    Thomas
3    Holmes  Sherlock
4       NaN       Neo

This also goes on to prove how idiotic it is to create data frames using these ways (manually). We mostly use externally created csv's or other files to import data for analysis and processing using pandas

Also, notice the data type of df2!

In [18]:
print("The column-wise mean of the data in first data frame")
print(df1.mean())
print("\nAnd the mean of entire data set is")
print(df1.mean().mean())

The column-wise mean of the data in first data frame
Column 1      6.0
Columns 2    12.0
Column 3     18.0
dtype: float64

And the mean of entire data set is
12.0

And this an (very, very, very leyman level) exampleof data analysis

In [19]:
type(df1.mean())

pandas.core.series.Series

Well this is a pandas **Series** object. Series have more or less the same methonds that we can apply on a data frame object.

Data Frames are made up of series. You'll get a gist once you see the below code and its result

In [24]:
print("Data type of the columns of a Data Frame is",type(df1.Column1))
print("Thus we can find their mean or do other (I don't know what) stuff on them.\nLike the mean of Column1 is", df1.Column1.mean(),"\nAnd the largest element of Column1 is", df1.Column1.max())

Data type of the columns of a Data Frame is <class 'pandas.core.series.Series'>
Thus we can find their mean or do other (I don't know what) stuff on them.
Like the mean of Column1 is 6.0
And the largest element of Column1 is 10